@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
  --color-primary: #66bfff;
  --color-secondary: #2196F3;
}

/* Optional scrollbar hiding utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
